.idea
src/Givt.OnlineCheckout.API/bin
src/Givt.OnlineCheckout.API/obj
*/obj
src/Givt.OnlineCheckout.API/appsettings.Development.json
src/Givt.OnlineCheckout.DataAccess/bin
src/Givt.OnlineCheckout.DataAccess/obj
